ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1.title {
    padding: 20px;
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
}

.detail-order,
.buy {
    padding: 20px;
    margin-bottom: 20px;
}

.detail-order .order-attribute,
.detail-order .product {
    display: grid;
    grid-template-columns: 10% auto 10% 8% 12% 8%;
}

.order-attribute {
    color: #0688cc;
    font-weight: 600;
    font-size: 16px;
}

.order-attribute .attribute {
    padding: 4px 0;
}

.order-attribute li,
.product li {
    border: 1px solid #dbe6ed;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.product .detail .image {
    width: 80px;
    margin: 20px;
}

.product .name {
    line-height: 90px;
    text-align: left;
}

.delete-product {
    width: 100%;
}

.delete-product .delete {
    width: 30px;
    margin: 0 auto;
    background: #fff;
    border: none;
}

button.delete i {
    color: #00347c;
    font-size: 20px;
}

.delete:hover {
    background-color: #00347c;
}

.delete:hover i {
    color: #fff;
}

.product .detail {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    column-gap: 16px;
}

.number {
    text-align: right;
}

.buy {
    padding: 0 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.pay {
    text-align: right;
}

.pay-text {
    text-transform: uppercase;
}

.shopping, 
.continue-buy {
    text-align: right;
    font-weight: bold;
    color: #00347c;
    border: #fff;
    padding: 5px;
    background-color: #dbe6ed;
    text-transform: uppercase;
    height: 30px;
}

.shopping:hover,
.continue-buy:hover {
    background-color: #00347c;
    color: #fff;
    border-radius: 5px;
}

.invoice-price {
    margin: 0;
    padding: 10px 0;
}

/* START RESPONSIVE  */

@media (min-width: 1024px) {
}

@media (max-width: 1023px) and (min-width: 769px) {
}

@media (max-width: 768px) {
    .detail-order .order-attribute,
    .detail-order .product {
        grid-template-columns: 12% 28% auto 6% auto 9%;
    }

    .product .detail {
        display: block;
    }

    .product .detail .image {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    .product .detail .name {
        text-align: center;
        line-height: 40px;
        padding: 0 4px;
    }
}

/* END RESPONSIVE  */