/* CSS COMMON  */

:root {
    --main-color: #0688cc;
    --height-header: 100px;
    --width-search: 85%;
    --while-color: #fff;
    --footer-color: #071831;
    --black-color: #000;
    --red-color: red;
    --height-navbar: 40px;
    --hover-color-navbar: #144b98;
    --bg-color-navbar: #e5e8eb;
}

.square-style {
    list-style-type: square !important;
}

/* END CSS COMMON  */

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.2em;
    margin: 0 auto;
    min-width: 1024px;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

/* START HEADER  */

header {
    background-color: var(--main-color);
    min-height: calc(var(--height-header) + var(--height-navbar));
}

header .container,
footer .container {
    width: 1024px;
    min-height: var(--height-header);
    margin: 0 auto;
}

header .logo {
    height: var(--height-header);
}

header .logo img {
    height: 100%;
}

header .container {
    display: grid;
    grid-template-columns: 20% auto 20% 5%;
}

header .search, 
header .buy-now,
header .shopping-cart {
    display: flex;
    align-items: center;
    position: relative;
}

header .search input,
footer .enter-email input {
    width: var(--width-search);
    border-radius: 5px;
    position: absolute;
    font-size: 16px;
    padding: 12px;
    border: none;
}

header .search button,
footer .enter-email button {
    position: absolute;
    width: 50px;
    background-color:var(--while-color);
    border: none;
    border-radius: 5px;
    padding: 9px 0px;
    left: 80%;
}

header .search button:hover,
footer .contact .list-item .item:hover {
    background-color: var(--red-color);
    cursor: pointer;
}

header .search button:hover .icon,
footer .contact .list-item .item:hover .icon {
    color: var(--while-color);
}

header .search .icon {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #00347c;
}

header .buy-now {
    color: var(--while-color);
    height: 100%;
}

header .buy-now .icon {
    font-size: 20px;
}

header .phone {
    padding: 4px 16px 4px 0px;
    border-right: 1px dashed var(--while-color);
    margin-right: 16px;
}

header .buy-now .hot-line p {
    padding: 0;
    margin: 0;
    font-weight: 550;
}

header .hot-line .hot-line-text {
    color: #064273;
    font-size: 16px;
}

header .shopping-cart a {
    text-decoration: none;
    color: var(--while-color);
}

header .shopping-cart a:hover {
    color: var(--black-color);
}

/* START NAVBAR  */

header nav {
    min-height: 40px;
    background-color: var(--bg-color-navbar);
}

header .nav-bar {
    display: grid;
    grid-template-columns: 25% auto;
    width: 1024px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
}

header .nav-bar .category {
    margin: 0;
    padding: 10px 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--hover-color-navbar);
    color: var(--while-color);
    display: grid;
    grid-template-columns: 25% auto;
}

header .nav-bar .category:hover {
    cursor: pointer;
}

header .nav-bar .category:hover .list-product {
    display: block;
}

header .category .icon {
    font-size: 25px;
    display: inline-block;
    padding: 8px;
}

header .nav-bar .list-item {
    padding: 10px 0 10px 32px;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    font-weight: 550;
}

header .nav-bar .list-item .item {
    line-height: var(--height-navbar);
}

header .list-item .item a {
    text-decoration: none;
    color: var(--black-color);
    display: block;
}

header .list-item .item:hover {
    background-color:var(--hover-color-navbar);
    cursor: pointer;
}

header .list-item .item:hover a {
    color: var(--while-color);
}

header nav .list-product {
    list-style-type: none;
    background-color: var(--while-color);
    font-size: 16px;
    display: none;
    width: 25%;
    position: absolute;
    z-index: 1;
    top: 61px;
    left: 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

header .product .link-product {
    color: var(--black-color);
    text-decoration: none;
    display: block;
    padding: 16px 40px;
}

header .product .link-product:hover {
    color: var(--main-color);
    background-color: #f8f9fa;
}

/* END NAVBAR  */

/* END HEADER  */

/* START MAIN  */

main{
    margin: 0 auto;
    width: 1024px;
    font-size: 15px
}

/* END MAIN  */

/* START FOOTER  */

footer {
    background-color: var(--footer-color);
    min-height: var(--header-height);
    color: var(--while-color);
}

footer .container {
    display: grid;
    grid-template-columns: 18% 14% 18% 22% 20%;
    column-gap: 2%;
    font-size: 16px;
}

footer .text-content {
    text-transform: uppercase;
}

footer .list-item {
    list-style-type: none;
    padding: 0px 0px 0px 16px;
}

footer .list-item .item {
    padding: 4px 0px;
}

footer .contact .list-item {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

footer .contact .list-item .item {
    background-color: var(--while-color);
    margin: 0px 8px 0px 0px;
    padding: 8px 0px;
    text-align: center;
    border-radius: 4px;
}

footer .contact .item .icon {
    width: 40px;
    color: var(--black-color);
}

footer .list-item a {
    text-decoration: none;
    color: var(--while-color);
}

footer .list-item a:hover {
    opacity: 0.6;
}

footer .contact a:hover {
    opacity: 1;
}

footer .enter-email {
    position: relative;
}

footer .enter-email input {
    width: 9em !important;
    height: 10px;
}

footer .enter-email input:focus {
    outline: none;
    border: none;
}

footer .enter-email button {
    color: var(--while-color);
    background-color: var(--red-color);
    left: 84%;
    width: 16%;
    border-radius: 4px;
}

footer .enter-email button:hover {
    cursor: pointer;
    opacity: 0.6;
}