/* CSS COMMON  */

:root {
    --main-color: #0688cc;
    --height-header: 100px;
    --width-search: 85%;
    --while-color: #fff;
    --footer-color: #071831;
    --black-color: #000;
    --red-color: red;
    --height-navbar: 40px;
    --hover-color-navbar: #144b98;
    --bg-color-navbar: #e5e8eb;
}

.square-style {
    list-style-type: square !important;
}

button:hover {
    cursor: pointer;
}

/* END CSS COMMON  */

main .container{
    padding-top: 50px;
    font-size: 15px;
    line-height: 1.6;
    
}

.header-main{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.info{
    padding-left: 30px;
}

.hinh1{
    border: 2px solid #144b98;
    width: 100%;
}

.hinh1-mini {
    border: 2px solid #f10f0f;
    height: 70px;
    width: 80px;
    margin-top: 10px;
}

.h1-mini{
    padding-left: 20px;
}

.name-producr {
    position: relative;
    padding-left: 10px;
}

.if{
    display: grid;
    grid-template-columns: 60% 40%;
}

.if2{
    position: relative;
    padding-left: 15px;
    border-left: 0.5px solid #064273;
}

.postimg{
    width: 100%;
}


.fa-circle-check{
    background-color: #10ee35;
    color: #fff;
    position: relative;
    border-radius: 10px;
}

h1{
    font-size: 25px;
    color: #00347c;
}

.name{
    color: #f10f0f;
}

.price-header{
    color: #f10f0f;
    font-weight:bolder;
    font-size: 20px;
}

h2{
    font-size: 25px;
}

.info .box-quantity{
    margin-top: 20px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.number{
    display: flex;
}

.number .number-child {
    width: 33.33%;
    color: var(--black-color);
}

.box-quantity button{
    outline: none;
    background: none;
    border: 1px  solid #6a656531;
    cursor: pointer;
}

.btn-plus:hover{
    background-color:  #ececec7f;
}

.btn-minus:hover{
    background-color:  #ececec7f;
}

.fa-minus,.fa-plus{
    color: #605d5d;
}

.box-quantity #amount{
    text-align: center;
    border: 1px solid #6a656531;
}

.add-cart {
    margin: 0 10px;
}

.add-cart button {
    width: 100%;
    border: none;
    background-color: #00347c;
    color: #e5e8eb ;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px;
}

.add-cart button:hover{
    background-color: #f10f0f;
}

.or {
    text-align: center;
    color: #00347c;
    padding: 12px 0;
    font-size: 16px;
}

.call{
    text-align: center;
}

.call .form-numberphone {
    margin: 10px 0;
}

.call button {
    width: 55px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #e5e8eb;
    background-color: #00347c;
    border: none;
}

.numberphone{
    height: 35px;
    border: 1px  solid #6a656531;
    border-radius: 5px;
    width: 70%;
    padding: 0px 10px;
}

.details img{
    position: relative;
    padding-top: 20px;
    height: 600px;
    width: 700px;
}

.sb2{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 10px ;
    
}
.post img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;
    
}

.details{
    padding: 0 30px;
}

/* .best{
    font-size: 18px;
    text-align: center;
    color: #00347c;
    position: relative;
    padding-left: 35px;
    margin: 0;

}

.price-best{
    font-weight: 600;
    color: #144b98;
    position: relative;
}

.sidebar .product{
    min-height: 200px;
    width: 100%;
}

.order {
    display: none;
    background-color:red;
    margin-top: 5px;
    height: 23px;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    padding-top: 7px;
    padding-left: 5px;
}

@keyframes bottom-up {
    from {
        bottom: -30px;
        opacity: 0;
    } to {
        bottom: 8px;
        opacity: 1;
    }
}

.order .fas {
    color: #fff;
    float: right;
    margin-right: 25px;
}

.product:hover .order {
    display: block;
    animation: bottom-up 0.4s;
}

.order:hover {
    background-color: #00347c;
} */

figcaption{
    text-align: center;
    font-style: italic;
}

.share{
    background-color: #ececec7f;
    height: 50px;
    padding-right: 10px;
}

.share .logo-app{
    position: relative;
    float: right;
    padding-top: 10px;
}

.fb{
    color: #144b98;
}

.tt{
    position: relative;
    color: #0688cc;
}

.pr{
    color: #f10f0f;
}

.evaluate{
    float: right;
}

.evaluate i{
    color: rgb(232, 211, 134);
}

.box-comment{
    padding-bottom: 100px;
}

.box-comment button{
    height: 50px;
    width: 120px;
    background-color: #00347c;
    color: #e5e8eb;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

/* START RESPONSIVE*/
@media (min-width: 1024px){
}

@media (max-width:1023px) and (min-width: 769px){
    .detail-info{
        grid-template-columns: 1fr;
    }

    .post img{
        width: 65%;
        height: 65%;
    }

    .h{
        display: flex;
        justify-content: center;
    }

    .sidebar .sb2{
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,25%);
    }

    .sidebar .product{
        border: solid 1px #dbe6ed;
        min-height: 230px;
        border-radius: 5px;
        position: relative;
        margin: 8px 0;
        margin-top: 8px;
        text-align: center;
        text-decoration: none;
        padding: 8px 5px;
    }

    .best{
        display: none;
    }
}

@media (max-width: 768px){
    .hinh1-mini {
        border: 2px solid #f10f0f;
        height: 60px;
        width: 60px;
    }

    .detail-info{
        grid-template-columns: 1fr;
    }

    .header-main{
        grid-template-columns: 1fr;
    }

    .hinh1{
        width: 50%;
        height: 50%;
    }

    .h1 {
        display: flex;
        justify-content: center;
    }

    .detail-info{
        grid-template-columns: 1fr;
    }
    
    .info .if1{
        width: 100%;
    }

    .if{
        grid-template-columns: 1fr;
    }

    .post img{
        width: 70%;
        height: 70%;
    }

    .h {
        display: flex;
        justify-content: center;
    }

    .sidebar{
        display: none;
    }

    .box-quantity {
        grid-template-columns: 20% 80%;
        padding-left: 30px;
    }

    .numberphone{
        min-width: 40%;
    }
}
