ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.img-product {
    width: 16%;
    padding: 8px;
    margin-left: 16px;
}

.detail-order .order-attribute,
.detail-order .product {
    display: flex;
}

.detail-order .product .detail {
    display: flex;
}