/* START HOME */
.main-slider {
    margin: 0 auto;
}

.slider-item {
    min-height: 300px;
    position: relative;
}

.prev-animation {
    animation: linear 0.5s showRightToLeft;
}

.next-animation {
    animation: linear 0.5s showLeftToRight;
}

.main-slider img {
    width: 100%;
}

.slider-wrapper button {
    width: 20px;
    height: 60px;
    cursor: pointer; 
    border: 1px solid #064273; 
    background-color: transparent; 
    color: #064273;
    font-size: 20px; 
}

.slider-wrapper button:hover {
    background-color: #064273; 
    color: #fff;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper button.prev,
.slider-wrapper button.next {
    position: absolute;
    z-index: 1;
    top: calc(50% - 30px);
}

.slider-wrapper button.next {
    right: 0%;
}

@keyframes showLeftToRight {
    from {
        left: -50%;
        opacity: 0;
    } to {
        opacity: 1;
        left: 0%;
    }
}

@keyframes showRightToLeft {
    from {
        right: -50%;
        opacity: 0;
    } to {
        opacity: 1;
        right: 0%;
    }
}

@keyframes showLeftToRightNone {
    from {
        left: 0%;
        opacity: 1;
    } to {
        opacity: 0;
        left: 50%;
    }
}

@keyframes showRightToLeftNone {
    from {
        right: 0%;
        opacity: 1;
    } to {
        opacity: 0;
        right: 50%;
    }
}

.card{
    
    position: relative;
    left: 250px;
    padding-top: 30px;

    padding-bottom: 20px;
}

.home{
    display: grid;
    max-width: 1024px;
    margin: 30px auto 10px;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-page{
    position: relative;
    padding: 5px 5px 5px 60px;
    margin: 0 10px;
}

.home-page h3{
    font-size: 16px;
    font-weight:700;
    margin: 0 0 3px 0;
}

.home-page i{
    color: var(--main-color);
    position: absolute;
    bottom: 50%;
    left:5%;
}

.home-page div{
    text-align: left;
}

.home-page div p, .content-one p{
    margin: 10px 0 0 0;

}

.content{
    display: grid;
    margin: 0 auto 10px;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-one{
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.content-one .detail-content {
    font-size: 16px;
    padding-left: 60px;
}   

.content-one i{
    color: var(--main-color);
    font-size: 40px;
    position: absolute;
    top: 80px;
}

.child{
    position: relative;
    color: #064273;
    font-size: 20px;
    right: 120px;
}

/* END HOMEPAGE  */