/* đăng nhập */
.au-form a{
    text-decoration: none;
}
#a-fpass{
    float: left;
}
#a-dn{
    float: right;
}
#a-fpass, #a-dn{
    color: var(--main-color);
    font-size: 14px;
    font-weight: 200;
}
#a-fpass:hover, #a-dn:hover, #a-pass:hover{
    color: dimgrey;
}