/* START SLIDER  */
.main-slider {
    margin: 0 auto;
}

.slider-item {
    min-height: 100%;
    position: relative;
}

.prev-animation {
    animation: linear 0.5s showRightToLeft;
}

.next-animation {
    animation: linear 0.5s showLeftToRight;
}

.main-slider img {
    width: 100%;
    height: 100%;
}

.slider-wrapper button {
    width: 3%;
    height: 16%;
    cursor: pointer; 
    border: 1px solid #064273; 
    background-color: transparent; 
    color: #064273;
    font-size: 16px; 
}

.slider-wrapper button:hover {
    background-color: #064273; 
    color: #fff;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper button.prev,
.slider-wrapper button.next {
    position: absolute;
    z-index: 1;
    top: calc(50% - 8%);
}

.slider-wrapper button.next {
    right: 0%;
}

@keyframes showLeftToRight {
    from {
        left: -20%;
        opacity: 0;
    } to {
        opacity: 1;
        left: 0%;
    }
}

@keyframes showRightToLeft {
    from {
        right: -20%;
        opacity: 0;
    } to {
        opacity: 1;
        right: 0%;
    }
}

/* END SLIDER  */