/* CSS COMMON  */

:root {
    --main-color: #0688cc;
    --height-header: 100px;
    --width-search: 85%;
    --while-color: #fff;
    --footer-color: #071831;
    --black-color: #000;
    --red-color: red;
    --blue-color: blue;
    --height-navbar: 40px;
    --hover-color-navbar: #144b98;
    --bg-color-navbar: #e5e8eb;
}

.square-style {
    list-style-type: square !important;
}

button:hover {
    cursor: pointer;
}

/* END CSS COMMON  */

.facebook-icon {
    color: var(--blue-color);
}

.gmail-icon {
    color: var(--red-color);
}