main{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 65% 35%;
}

#pay{
    width: 95%;
    padding: 20px;
    box-shadow: 0px 0px 7px 2px darkgray;
}

#pay h1{
    margin: 10px 0;
    text-align: center;
}

#pay h2{
    margin: 10px 0 5px 0;
}

fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px dashed grey;
}

.au-form-radio div{
    margin-bottom: 5px;
}
/* .au-form-discount{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}
#discount-hand{
    position: relative;
    top: 45%;
    left: 0;
} */
#pay-cart {
    width: 100%;
    margin: 10px 10px 10px 2px;
    border: 1px solid #e5e8eb ;
    padding-bottom: 5px;
}

#pay-cart h2{
    text-align: center;
}

.pay-product{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    margin: 7px 10px;
    padding: 5px 0;
    text-align: right;
    box-shadow: 0px 2px 4px 0 #e5e8eb;
}

.pay-product-name{
    text-align: left;
}

#pay-total{
    margin: 20px 10px 10px 10px;
    padding: 7px 0;
    background-color: #e5e8eb;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

/* START RESPONSIVE  */

@media (min-width: 1024px) {
}

@media (max-width: 1023px) and (min-width: 769px) {
}

@media (max-width: 768px) {
    main{
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap-reverse;
    }
}

/* END RESPONSIVE  */